.footer
  &-wrap
    background-color: $black
    max-width: 53.07rem
    margin: auto
    padding: 2.5rem
  &__title
    color: $light
    font-family: 'Yeseva One', cursive
    font-weight: 100
    font-size: 1.426rem
    line-height: 2rem
    text-align: center
    text-transform: uppercase
    margin-bottom: 3.214rem
  &__form
    display: flex
    justify-content: space-between
    flex-wrap: wrap
    max-width: 55rem
    margin: auto
  &__input-group
    display: flex
    flex-direction: column
    flex-basis: 30%
  &__input
    color: $dark
  &__policy
    flex-basis: 100%
    margin-top: 1.2rem
    &-label
      justify-content: center
  &__button
    padding: 1.286rem 4.786rem