.header
  background-color: $dark
.navbar
  display: flex
  justify-content: space-between
  align-items: center
  padding: 24px 0
.navbar__brand
  color: $primary
  text-decoration: none
  text-transform: uppercase
.nav
  &__item
    color: $light
    text-transform: uppercase
    text-decoration: none
    margin-right: 40px
.phone
  color: $primary
.contacts
  &__phone
    margin-right: 45px