.hero
  position: relative
  display: flex
  justify-content: center
  align-items: center
  padding-top: 7.14rem
  background: $dark url("../images/hero-bg.jpg") no-repeat
  background-position: center
  background-size: cover
  color: $light
  height: 100vh
  &::before
    content: ''
    position: absolute
    left: 0
    top: 0
    width: 100%
    height: 100%
    background-color: rgba($dark, 0.7)
  &::after
    content: ''
    position: absolute
    bottom: 0
    left: 0
    right: 0
    width: 100%
    height: 3.46rem
    background: $dark
  &__contant
    position: relative
    max-width: 47.85rem
    margin-left: 4.28rem
  &__text
    font-size: 1.57rem
    line-height: 2.14rem
    max-width: 36rem
    margin-bottom: 3.9rem
  &__instagram
    position: absolute
    left: 0
    top: 0
    max-width: 5.71rem
    height: 100vh
  &__button
    padding: 1.1rem 1.79rem
    font-size: 1.073rem
    margin-right: 1.42rem
.instagram
  display: flex
  justify-content: center
  align-items: center
  background-color: $dark
  &__link
    display: flex
    align-items: center
    text-transform: uppercase
    text-decoration: none
    line-height: 0.8
    color: $primary
    transform: rotate(90deg)
    &::after
      content: ''
      width: 3.57rem
      height: 0.07rem
      background-color: $primary
      margin-left: 0.57rem
.title
  font-family: 'Yeseva One', cursive
  font-style: normal
  font-weight: lighter
  line-height: 3.78rem
  font-size: 2.85rem
  text-transform: uppercase
  margin: 0
  &--primary
    color: $primary
@media screen and (max-width: 786px)
  .hero
    height: 70rem
    &__instagram
      display: none
@media screen and (max-width: 575px)
  .hero
    height: 50rem
    &__contant
      margin-left: 0 
    &__title
      max-width: 24.21rem
      line-height: 138%;
      font-size: 1.8rem
      letter-spacing: 0.02rem
      margin-bottom: 1.14rem
    &__text
      max-width: 23.4rem
      font-family: Futura Book;
      font-size: 1.28rem
      line-height: 132.83%;
      letter-spacing: 0.02rem
      margin-bottom: 2.28rem
    &__button
      display: block
      width: 100%
      max-width: 30rem
      margin-bottom: 1.85rem
  .contacts
    &__phone
      margin-right: 0
      color: $light
      text-decoration: none
    &__button
      display: none

  
