.hero
  position: relative
  display: flex
  justify-content: center
  align-items: center
  padding-top: 7.14rem
  background: $dark url("../images/hero-bg.jpg") no-repeat
  background-position: center
  background-size: cover
  color: $light
  height: 100vh
  &::before
    content: ''
    position: absolute
    left: 0
    top: 0
    width: 100%
    height: 100%
    background-color: rgba($dark, 0.7)
  &__contant
    position: relative
    max-width: 47.85rem
    margin-left: 4.28rem
  &__text
    font-size: 1.57rem
    line-height: 2.14rem
    max-width: 36rem
    margin-bottom: 3.9rem
  &__instagram
    position: absolute
    left: 0
    top: 0
    max-width: 5.71rem
    height: 100vh
  &__button
    margin-right: 1.42rem
.instagram
  display: flex
  justify-content: center
  align-items: center
  background-color: $dark
  &__link
    display: flex
    align-items: center
    text-transform: uppercase
    text-decoration: none
    line-height: 0.8
    color: $primary
    transform: rotate(90deg)
    &::after
      content: ''
      width: 3.57rem
      height: 0.07rem
      background-color: $primary
      margin-left: 0.57rem
.scroll-down
  position: absolute
  left: 0
  bottom: 0
  min-width: 17.64rem
  min-height: 6.92rem
  display: flex
  justify-content: center
  align-items: center
  background-color: $dark
  &::after
    content: ''
    background: url('../images/arrow-down.svg') no-repeat
    background-position: center
    width: 2.14rem
    height: 2.14rem
    border: 0.142rem solid $primary
    border-radius: 50%
    margin-left: 0.857rem 
  &__link
    font-family: 'Yeseva One', cursive
    font-style: normal;
    font-weight: lighter;
    font-size: 0.857rem
    line-height: 138.6%;
    text-transform: uppercase
    text-decoration: none
    color: $light
.title
  font-family: 'Yeseva One', cursive
  font-style: normal
  font-weight: lighter
  line-height: 3.78rem
  font-size: 2.85rem
  text-transform: uppercase
  margin: 0
  &--primary
    color: $primary