.our-team
  &__card
    position: relative
    background: none
    padding: 1.714rem 2.2rem 1.429rem 2rem 
    text-align: center
  &__text
    max-width: 40.79rem
    font-size: 1.47rem
    font-weight: 100
    line-height: 2.4rem
    text-align: center
    margin: 0 auto
    &::before
      content: ''
      display: block
      width: 55px
      height: 2px
      background-color: #E3B873
      border-radius: 30px
      margin: 3rem auto
      margin-bottom: 2.429rem
@media screen and (max-width: 992px)
  .card__text
    &--our-team 
      position: relative
      margin-top: -9.07rem
  .card__title
    &--our-team 
      font-size: 1.285rem
@media screen and (max-width: 575px)
  .our-team
    background-color: $dark
    &__section-title
      color: $light
    &__text
      display: none
  