.projects
  &__contant
    padding-top: 9.14rem
    padding-bottom: 25rem
  &__text
    color: $light
    max-width: 29rem
    font-weight: 400
    font-size: 1.286rem
    line-height: 2.071rem
    margin-top: 2rem
.swiper
  &-container
    padding-bottom: 3.214rem
  &-slide
    display: flex
    flex-wrap: wrap
    color: $light
    &__text
      flex-basis: 50%
      margin-bottom: 1.42rem
    &__heading
      font-family: 'Yeseva One', cursive
      font-weight: 100
      font-size: 1.286rem
      line-height: 1rem
      text-transform: uppercase
      color: $primary
      padding: 0
      margin: 0.7rem 0;
    &__value
      font-size: 1.071rem
      line-height: 1.429rem
      color: $light
      margin: 0
  &-pagination
    top: -1rem
    &-billets
      width: auto
    &-bullet
      background: rgba($light, 0.3)
      margin: 0.2rem 0.6rem;
      &-active
        background: $light
  &__group
    position: relative
    height: 1rem
    text-align: left

  &-button
    &-prev, &-next
      background-size: 42px
      width: 42px
      height: 14px
      &::after
        display: none
    &-prev
      left: 0
      background: url('../images/arrow-prev.svg') no-repeat center
    &-next
      background: url('../images/arrow-next.svg') no-repeat center
  
  &-pagination-bullets,
  &-button-prev,
  &-button-next
    position: static
    display: inline-block
.swiper-pagination-fraction, .swiper-pagination-custom, .swiper-container-horizontal > .swiper-pagination-bullets
  width: auto
  bottom: -0.143rem



@media screen and (max-width: 992px)
  .swiper
      &-slide  
        &__text
          margin-bottom: 0
@media screen and (max-width: 850px)
  .projects
    &__contant
      padding-top: 3.14rem
  .section-title
      &--strong
        font-size: 1.84rem
        text-align: center
        margin-left: auto
        margin-right: auto
        &::after
          display: none
  .row
    .col__hidden
          display: none
  .projects__text
    font-size: 1.18rem
    max-width: 43.57rem
    text-align: center
    margin-left: auto
    margin-right: auto
    padding-bottom: 2rem
  .swiper
    &__group
      text-align: center
    &-slide
      &__text
        margin-top: 1.3rem
        padding-left: 3rem
@media screen and (max-width: 575px)
  .projects
    &__contant
      padding-top: 2.14rem
  .row
    .col__hidden
      display: none
@media screen and ( min-width: 851px )
  .swiper
    &-slide
      &__image
        display: none