.container
  width: 85%
  max-width: 89.71rem
  margin: auto
.row
  display: flex
  justify-content: space-between
  align-items: flex-start
  &__projects
    padding-top: 6rem
.col
  &-30
    flex-basis: 32%
  &-50
    width: 50%
