.button
  padding: 0.79rem 1.63rem
  border: none
  outline: none
  text-decoration: none
  border-radius: 0.14rem
  text-transform: uppercase
  font-family: Futura Demi
  font-size: 1.073rem
  font-weight: 500;
  &:hover
    cursor: pointer
  &--primary
    padding: 1.3rem 1.79rem
    color: $light
    background-color: $primary
    box-shadow: 0px 0.35rem 1.07rem rgba($primary, 0.2)
    transition: box-shadow 0.3s
    &:hover
      box-shadow: none
      color: $light
      background-color: #E2A542
  &--outline
    padding: 1.3rem 3rem
    border: 0.07rem solid $light
    background-color: transparent
    color: $light
    &:hover
      color: $primary
      border: 0.07rem solid $primary
.label
  &--light
    color: rgba($light, 0.5)
    font-family: 'Futura Book'
    font-weight: 400
    font-size: 1.071rem
    line-height: 0.8rem
  &--dark
    color: rgba($dark, 0.5)
.input
  background-color: transparent
  border: none
  border-bottom: 1px solid rgba(54, 54, 54, 0.3)
  font-size: 1.285rem
  color: $light
  padding: 0.5rem 0
  &:focus
    outline-offset: 3px
    outline: 1px rgba($primary, 0.6) solid
    box-shadow: 0px 0.35rem 1.07rem rgba($primary, 0.2)
  &--light
    border-bottom: 1px solid rgba($light, 0.3)
    &::placeholder
      color: $light
      font-family: 'Futura Book'
      font-weight: 500
      font-size: 1.286rem
  &--dark
    &::placeholder
      color: $dark
.policy
  &__checkbox
    opacity: 0
    visibility: hidden
    &:checked +
      .policy__label
        &::before
          background: $primary url('../images/check.svg') no-repeat center / 0.8rem
  &__label
    display: flex
    align-items: center
    font-size: 1.14rem
    font-weight: 100
    &::before
      content: ''
      width: 18px
      height: 18px
      border: 1px solid $primary
      border-radius: 1px
      cursor: pointer
      margin-right: 0.64rem
  