@media screen and (max-width: 1260px)
  html
    font-size: 12px
  .nav  
    &__item
      margin-right: 1rem
@media screen and (max-width: 992px)
  .nav
    display: none  
  .row
    display: flex
    justify-content: space-between
    align-items: flex-start
    flex-wrap: wrap
    .col-30
      flex-basis: 48%
      margin-right: 0.5rem 
      .card
        &__text
          position: relative
          width: 91%
          padding-left: 1.2rem
          margin: 0
          margin-top: -9.07rem
        &__title
          font-size: 1.5rem
          padding-bottom: 1rem 
        &__list
          font-size: 1.25rem
          padding-left: 2.5rem
          margin-bottom: 5rem
  .section-title
    &__text
      max-width: 80%
@media screen and (max-width: 850px)
  .row
    .col-50 
      width: 100%
    &__heading
      &--primary
        text-align: center
        &::after
          display: none
    &__text
      text-align: center
      padding: 1rem 0 
    &__description
      max-width: 29rem
@media screen and (max-width: 786px)
  .row
    .col-30
      .card
        &__title
          padding-left: 1rem
          font-size: 1.23rem
        &__list
          padding-left: 1rem
          font-size: 1.215rem 
@media screen and (max-width: 575px)
  .row
    display: flex
    flex-direction: column
    align-items: center 
    .col-30
      width: 100%
      margin: 0
      .card
        &__title
          font-size: 1.37rem
        &__list
          font-size: 1.2rem
    .col-50 
      width: 100%
  .section-title
    &--projects
      align-items: center
    &__heading
      &--primary
        text-align: center
        &::after
          display: none
    &__text
      text-align: center
      padding: 1rem 0

  
