@media screen and ( max-width: 1260px )
  html
    font-size: 12px
  .nav  
    &__item
      margin-right: 1rem
@media screen and ( max-width: 996px )
  .nav
    display: none  
@media screen and ( max-width: 930px )
  .hero
    &__instagram
      display: none
@media screen and ( max-width: 576px )
  .hero
    &__contant
      margin-left: 0 
    &__title
      max-width: 24.21rem
      line-height: 138%;
      font-size: 1.8rem
      letter-spacing: 0.02rem
      margin-bottom: 1.14rem
    &__text
      max-width: 23.4rem
      font-family: Futura Book;
      font-size: 1.28rem
      line-height: 132.83%;
      letter-spacing: 0.02rem
      margin-bottom: 2.28rem
    &__button
      display: block
      width: 100%
      max-width: 30rem
      margin-bottom: 1.85rem
    &__scroll-down
      display: none
  .contacts
    &__phone
      margin-right: 0
      color: $light
      text-decoration: none
    &__button
      display: none
@media screen and ( max-height: 558px )
  .hero
    &__scroll-down
      display: none
